html{
    box-sizing: content-box;
}
#code{
    color: red;
    border-style: solid;
    height: 100%;
    /* margin: 50px;
    padding: 50px; */
    /* float: left; */
    position: relative;
    top:100px;
    right: 50px;
    z-index: -1;
    /* right:0; */
}
h1{
    position: sticky;
}
.flexcontainer {
    border: solid red 10px;
    padding: 20px;
    margin: 20px;
    box-sizing: content-box;
    /* display:flex; */
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
}
/* ul > li:first-child{
    color: red;
} */
ul > li > a{
   color:green; 
}